^ContentPage {
    background-color: #F7F8FF;
    
}

#title {
    color: black;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#button {
    
    background-color: #3B4CCA;
    color: white;
    height:64;

}
#button2 {
    background-color: #CC0000;
    color: white;
    height: 64;
}

#list {
    font-size: 16;
    background-color: #F1F1F1;
    color: white;
    text-align: center;
}

#flex {
    display: flex;
    align-items: center;
}
