^ContentPage {
    background-color: #F1F1F1;
    opacity: 25;
}

.title{
    color:black;
}

.button {
    background-color: #3B4CCA;
    color: white;
    height:64;

}


.list {
    font-size: 16;
    background-color: #F1F1F1;
    color: white;
    text-align: center;
}
